<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>TextSer</servlet-name>
		<servlet-class>ser.TextSer</servlet-class>
	</servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BseSer</servlet-name>
    <servlet-class>ser.BseSer</servlet-class>
  </servlet>


	<servlet-mapping>
		<servlet-name>TextSer</servlet-name>
		<url-pattern>/servlet/TextSer</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>BseSer</servlet-name>
    <url-pattern>/servlet/BseSer</url-pattern>
  </servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
